PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/po-approval
SAP_CLIENT=100
SAP_MANDT=SIL
SAP_PENDING_URL=http://203.112.143.241:8000/zpo_apr/PODAT
SAP_FINAL_URL=http://203.112.143.241:8000/zpo_rel/PODAT
SAP_APPROVAL_URL=http://203.112.143.241:8000/zpo_rel/PODAT
SAP_USER=your_sap_username
SAP_PASS=your_sap_password
SAP_FRGCO_CODES=D1
SAP_SYNC_CRON=*/15 * * * *
APP_DIRECTOR_EMAIL=director@pop.local
APP_DIRECTOR_PASSWORD=Login123!
APP_DEMO_EMAIL=clientdemo@pop.local
APP_DEMO_PASSWORD=ClientDemo123!
JWT_ACCESS_SECRET=replace-with-a-long-random-secret
JWT_REFRESH_SECRET=replace-with-a-different-long-random-secret
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=7
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
FRONTEND_ORIGIN=
